<div class="large-12 small-12 columns">
  <div class="welcome">
    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <h2>Search Results</h2>
      </div>
    </div>
  </div>
</div>

<%= render @search_talent.students %>