<li>
	<%= link_to "Idea", "/idea" %>
</li>
<% if user_signed_in? %>
		 <!--  <li>
		  	<%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
		  </li> -->
		<% else %>
		  <li>
		  	<%= link_to "Sign in", main_app.new_user_session_path, :class => 'navbar-link'  %>
		  </li>
<% end %>

