 <%# link_to 'Edit', edit_stu_work_experience_path(@stu_work_experience) %>
 <p>
   <b>Post:</b>
   <%= @office_photo.company_profile_id %>
 </p>

  <p>
   <b>Image:</b>
   <%= image_tag @office_photo.images_url %>
 </p>