<div class="site-content">
  <div class="row" style="max-width: 30em;">
    <div class="all">

      
      <!--title: New Skill-->
      <div class="large-12 small-12 columns">
        <div class="welcome">
          <div class="row">
            <div class="large-12 medium-12 small-12 columns">
            <h2>New skill</h2></div><hr>
          </div>
        </div>
      </div>

<%= render 'form' %>

  	</div>
  </div>
</div>


