<div class = "intropage">

	<div class = 'row'>
		<div class="small-12 medium-12 large-12 columns" >
				<div class = 'intro_image'>
				</div>
		</div>
	</div>
	
	<div class = 'row'>
		<div class="small-12 medium-12 large-12 columns" >
			<div class="intro_text">
				 <p class = 'text_head'>STUTERN</p>
				<!-- <p class = 'text_head'><%= 'Launching Soon'.upcase %></p> -->
				<p class = 'text_body'>A WHOLE NEW WAY TO CONNECT INTERNS WITH EMPLOYERS</p>
				<!-- <i class="fa fa-arrow-circle-down"></i> -->
			</div>
		</div>
	</div>
</div>
<!-- <i class = 'image'><%# image_tag "https://s3-us-west-2.amazonaws.com/stutern/cover.png" %></i> -->