<div class='home_sub_nav'>
<% link_to "All", company_profiles_url, class:'home_sub_content', id:'nav_company'%>
<%= link_to "Companies", company_profiles_url, class:'home_sub_content', id:'nav_company'%>
<%= link_to "Internships", search_job_postings_path, class:'home_sub_content', id:'nav_internship' %>
</div>