<div class="large-2 medium-2 small-12 columns">
	<%= render 'sidenav' %>
</div>

<div class="large-10 medium-10 small-12 columns">
	<h1>About Stutern</h1>
	<p>
	Stutern is the online platform that connects top-tier talent with internships at amazing companies.
	We exist to help you thrive in the rapidly changing the world.
	</p>
    
    <p>
        On Stutern, you can:
    </p>

        <div class="row" id="stuff-to-do">
            <div class="large-12 medium-12 small-12 columns">
            <i class="fa fa-calendar"></i>
                    <div class="media-heading"><strong>Find or be Found for Internships</strong></div>
                    <a href="/s/user">Start Here</a>
            </div>
        </div>


    <p>
        <strong>Questions?</strong> Email us at
        <a href="mailto:info@stutern.com" target="_blank">info@stutern.com</a>
    </p>

    <h2>Meet the Stutern Team</h2>
    <div  id="the-team">
        <a href="/Alex" class="large-6 medium-2 small-2 columns">
            <%= image_tag '24.jpg' %>
            <div class="caption">
                <div>Alex Mooradian</div>
                <p>CEO</p>
            </div>
        </a>

        <a href="/molly" class="large-6 medium-2 small-2 columns">
            <%= image_tag '24.jpg' %>
            <div class="caption">
                <div>Molly Turner</div>
                <p>Marketing Program Manager</p>
            </div>
        </a>

    </div>
</div>
