<div class="large-2 medium-2 small-12 columns">
	<%= render 'sidenav' %>
</div>
<div class= content>
	<h3>Contact Us</h3>
	<p>info@stutern.com</p>
	<br/>

	<h3>Terms of Service</h3>
	<p>Legalese here</p>
</div>
