<div class="large-2 medium-2 small-12 columns">
	<%= render 'sidenav' %>
</div>

	<div class="large-10 medium-10 small-12 columns">
		<h1>For Schools</h1>
		<p>
		Stutern is a powerful tool for schools to easily connect their students to companies regardless of size, location or budget.
		</p>
		<p>
		    On Stutern, universities, departments and career centers can:
		</p>

	    <div class="row" id="stuff-to-do">
	    	
	    	<div class="large-4 medium-4 small-4 columns">
	        	<i class="fa fa-calendar"></i>
	        	<div class="media-heading">
	        	Market career fairs and events to attract companies or neighbouring students to campus
	        	</div>
	        </div>
	        
			<div class="large-4 medium-4 small-4 columns">
	        	<i class="fa fa-calendar"></i>
	        	<div class="media-heading">
	        	Profile departments for deeper relationship building with companies
	        	</div>
	        </div>

	        <div class="large-4 medium-4 small-4 columns">
	        	<i class="fa fa-calendar"></i>
	        	<div class="media-heading">
	        	Ask questions to students and companies about brand reputation or recruiting process
	        	</div>
	        </div>
	    </div>

	    <br><p>
	        It’s free for schools!
	        <a href="">Coming soon</a>
	    </p>
	    <p>
	        <strong>Questions?</strong> Email us at
	        <a href="mailto:info@stutern.com" target="_blank">support@stutern.com</a>
	    </p>
	    
	</div>
</div>