<div class="large-2 medium-2 small-12 columns">
	<%= render 'sidenav' %>
</div>
<div class="content" id="pages_content">

	<div class="large-10 medium-10 small-12 columns">
		
		<div class= "pages_head">For Companies</div>

		<div class="pages_body">
            <p>
                Stutern is a powerful tool for easily targeting top talents for internships / career opportunities. To better attract your next gen talents and to standout from competitors, Stutern provides a platform that amplifies your company’s unique brand.
        	</p>
        </div>

		
		<div class="pages_body">
			<p>
			    On Stutern, companies can:
			</p>
		</div>

	    <div class="row" id="media-container">
	    	
	    	<div class="large-6 medium-6 small-12 columns media-wrapper">
	        	<i class="fa fa-signal"></i>
	        	<div class="media-heading">
	        	Build Rich-Media Company Profiles to Attract Talents.
	        	</div>
	        </div>

			<div class="large-6 medium-6 small-12 columns media-wrapper">
	        	<i class="fa fa-calendar "></i>
	        	<div class="media-heading">
	        	Post Internships and Graduate Positions
	        	</div>
	        </div>

	        <div class="large-6 medium-6 small-12 columns media-wrapper">
	        	<i class="fa fa-group"></i>

	        	<div class="media-heading">
	        	Hire and Manage Interns
	        	</div>
	        </div>

	        <div class="large-6 medium-6 small-12 columns media-wrapper">
	        	<i class="fa fa-refresh"></i>

	        	<div class="media-heading">
	        	Transform stacks of paper resumes to fully searchable profiles
	        	</div>
	        </div>
	        
	    </div>

		<br>
		<div class="pages_body">
		    <p>
		        <!-- It’s free for companies! -->
		        <a href="/register">Join Stutern here</a>
		    </p>
	    </div>

	    <div class="pages_body">
            <p>
                <strong>Questions?</strong> Email us at
                <a href="mailto:info@stutern.com" target="_blank">info@stutern.com</a>
            </p>
        </div>

		<!-- <h6>
		It is not the critic who counts. The credit belongs to the man who at the best knows in the end the triumph of high achievement, and who at the worst, if he fails, at least fails while daring greatly - T.Roosevelt
		</h6> -->
	</div>
</div>
