<div class="large-2 medium-2 small-12 columns">
	<%= render 'sidenav' %>
</div>
<div class="content" id="pages_content">

	<div class="large-10 medium-10 small-12 columns">
		
		<div class= "pages_head">For Students</div>

		<div class="pages_body">
            <p>
                Stutern is a powerful tool for students to easily connect with internship oppourtunities.Internships provide students numerous perks: You gain experience, develop skills, make connections, strengthen your resumes, learn about a field, and assess your interest and abilities.
        	</p>
        </div>

		<div class="pages_body">
			<p>
			    On Stutern, students can:
			</p>
		</div>

	    <div class="row" id="media-container">
	    	
	    	<div class="large-6 medium-6 small-12 columns media-wrapper">
	        	<i class="fa fa-heart"></i>

	        	<div class="media-heading">
	        	Create Stunning Profiles.
	        	</div>
	        </div>

			<div class="large-6 medium-6 small-12 columns  media-wrapper">
	        	<i class="fa fa-search"></i>

	        	<div class="media-heading">
	        	Find and be Found for Internships.
	        	</div>
	        </div>

	        <div class="large-6 medium-6 small-12 columns media-wrapper">
	        	<i class="fa fa-trophy"></i>

	        	<div class="media-heading">
	        	Apply and Be Hired
	        	</div>
	        </div>

	         <div class="large-6 medium-6 small-12 columns media-wrapper">
	        	<i class="fa fa-briefcase"></i>

	        	<div class="media-heading">
	        	Transform personal profiles to professional resumes
	        	</div>
	        </div>
	    </div>

	    <br>
		<div class="pages_body">
		    <p>
		        <!-- It’s free for students! -->
		        <a href="/register">Join Stutern here</a>
		    </p>
	    </div>

	    <div class="pages_body">
            <p>
                <strong>Questions?</strong> Email us at
                <a href="mailto:info@stutern.com" target="_blank">info@stutern.com</a>
            </p>
        </div>

	</div>
</div>

	