<!--title: sign up-->
<div class="site-content">
  <div class="row" style="max-width: 30em;">
    <div class="all">
              <h2>Edit Profile</h2><hr>
         

<%= render 'form' %>


<%= link_to 'Show', @student_profile %> |
<%= link_to 'Back', student_profiles_path %>
<%= link_to 'cancel', '/' %>
		</div>
	</div>
</div>