$fontone:  Tahoma, Geneva, sans-serif;

$colorstutern:#0ee6de;
$colorgrey: #eeeeee;
$colorgreyer: #dddddd;
$colorwhite: #ffffff;
//$darkstutern: #003030;



//fonts sizes
$varfontsize_hbig3: rem-calc(36.8px);
$varfontsize_hbig2: rem-calc(31.8px);
$varfontsize_hbig1: rem-calc(26.8px);
$varfontsize_hmini3: rem-calc(24.8px);
$varfontsize_hmini2: rem-calc(22.8px);
$varfontsize_hmini1: rem-calc(20.8px);
$varfontsize_hmini0: rem-calc(19.8px);
$varfontsize_h0: rem-calc(18.8px);
$varfontsize_h1: rem-calc(16.8px);
$varfontsize_h2: rem-calc(14.8px);
$varfontsize_h3: rem-calc(12.8px);
$varfontsize_h4: rem-calc(10.8px);
$varfontsize_h5: rem-calc(8.8px);
$varfontsize_h6: rem-calc(6.8px);



// font-awesome font-sizes
$fontawes_h1: rem-calc(16.8px);
$fontawes_h2: rem-calc(14.8px);
$fontawes_h3: rem-calc(12.8px);
$fontawes_h4: rem-calc(10.8px);
$fontawes_h5: rem-calc(8.8px);
$fontawes_h6: rem-calc(6.8px);

//filter mixin
@mixin filter($filter...) {
  -moz-filter: $filter;
  -webkit-filter: $filter;
  filter: $filter;
}

//font-family
//$font-family-sans-serif: "Lucida Sans Unicode", Lucida Grande, sans-serif;