.sticky{

	.top-bar{
		box-shadow: 0 2px 5px rgba(0,0,0,.26);
		.title-area{
			
			.name{
				
				.left{
					
					.logo{
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
						width: rem-calc(65px);
					}
				}
				.toggle-topbar{
					
					a{
						
					}

				}
			}
		}
		.top-bar-section{
			.right{
				
			}

		}
	}
}



