.columns{
	padding: 0px;
	margin: 0px;
}

.intropage{
	position: relative;
	overflow: hidden;
	display: block;
		.intro_image{
		display:block;
		width: 100%;
		height: rem-calc(400em);
		background-image:url("https://s3-us-west-2.amazonaws.com/stutern/cover.png");
		background-size: cover;
		background-repeat: no-repeat;
		@include filter(grayscale(0%) contrast(110%) brightness(0.5) blur(1px));
		}
	.columns{
		height:rem-calc(170em);
		.intro_text{
			position: relative;
			bottom: rem-calc(70em);
			left: rem-calc(300em);
			color: white;
			@media #{$medium-only}{
				left: rem-calc(300em);
				}
				@media #{$small-only}{
				left: rem-calc(0em);
				margin: rem-calc(0 10em);
				}
			.text_head{
			margin: auto;
			line-height: rem-calc(45em);
			font-size: rem-calc(50em);
			font-weight: 100;
			letter-spacing: 3px;
			@media #{$medium-only}{
				}
				@media #{$small-only}{
				line-height: rem-calc(40em);
				font-size: rem-calc(46em);
				}
			}
			.text_body{
			margin: auto;
			line-height: rem-calc(50em);
			font-size: rem-calc(20em);
			font-weight: 500;
			letter-spacing: 0.5px;
			@media #{$medium-only}{
				}
				@media #{$small-only}{
				font-size: rem-calc(9em);
				line-height: rem-calc(10em);
				}
			}
		}
	}
}
