/* ==========================================================================
  	search.html
   ========================================================================== */
 .home_sub_nav{
 	text-align:center;
 	background-color:white;
 	padding: rem-calc(10px 0);
 	.home_sub_content{
 		margin: rem-calc(0 20px);
 		@media #{$medium-only}{
			margin: rem-calc(0 10px);
		}
		@media #{$small-only}{
			margin: rem-calc(0 10px);
		}
 		color: $jumbo;
 		font-size: $varfontsize_h2;
		font-weight: 300;
 	}

 	
 }
.content{
	margin: 0 5% 0 5%;
	padding: rem-calc(0px 18px 0px 18px);


	.int{
		text-align: center;
		padding: rem-calc(20px 10px 0 10px);
		width: 100%;
		margin-bottom: rem-calc(50px);

		//post_top
		.post_top{
			width: 100%;
			height: rem-calc(10%);
			background-color: $oil;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border-top: 4px solid $oil;
			//company_name
			.company_name{
				background-color: $oil;
				padding: rem-calc(1px 0 5px 0);
				p{
				font-weight: 300;
				font-size: $varfontsize_h1;
				color: white;
				margin-bottom: rem-calc(-6px);
				}
				span{
				background-color: $oil;
				a{
				font-size: $varfontsize_h4;
				font-weight: 200;
				color: #dff;
				
				}
				i{
				padding: rem-calc(0 0.5% 0 0);
				font-size: $fontawes_h4;
				color: #dff;
				}
				}
			}
		}

		//middle
			.image_wrapper{
				background-color: white;
			}

		//page_down
		.page_down{
			margin: rem-calc(0% 0 0% 0);
			background-color: white;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			border-bottom: 4px solid $white;

			.int_position{
				font-weight: 300;
				a{
				color: $oil;
				font-size: $varfontsize_h1;				
				}
			}
			.int_dur_paid{	
				padding: rem-calc(0 20px 0px 20px);
				a{
				font-size: $varfontsize_h4;
				color: $oil;
				font-weight: 700;
				}

				i{
				margin: rem-calc(0 2% 0 0%);
				font-size: $fontawes_h3;
				color: $oil;
				font-weight: 700;
				}
			.int_dur{
			margin-right:rem-calc(5px);
			}
			.int_paid{
			margin-left:rem-calc(5px);
			
			}
			}
			#view_share_button_wrapper{
				background-color: white;
				width: 100%;
				height: auto;
				min-height: rem-calc(45px);
				max-height: rem-calc(60px);
				border-top: 1px solid $oil;

				#view_share_button{
					@media #{$medium-only}{
						margin: rem-calc(5px 0px 0px 0px);
					}
					@media #{$small-only}{
						margin: rem-calc(5px 0px 0px 0px);
					}
					.clickapply{
						float: right;
						margin: rem-calc(5px);
					}
					.clickview{
						float: left;
						margin: rem-calc(5px);
					}
					.button{
						padding: rem-calc(10px 15px); 
					}
					a{
						font-size: $varfontsize_h3;
						@media #{$medium-only}{
							font-size: $varfontsize_h4;
						}
						@media #{$small-only}{
							font-size: $varfontsize_h3;
						}
					}
				}
			}

		}
	}

}


/* ==========================================================================
  	show.html
   ========================================================================== */
#show_content{
		margin: rem-calc(20px 250px 0 250px);
		@media #{$medium-only}{margin: rem-calc(20px 100px 0 100px);}
		@media #{$small-only}{margin: rem-calc(20px 20px 0 20px);}

		#min_company{
			padding: rem-calc(10px);
			background-color: white;
			border: 1px solid $gainsboro;
			border-radius: rem-calc(2px);
			#company_intro_container{
				#show_image_wrapper{
					width:rem-calc(50%);
					float: left;
					margin: rem-calc(0 10px 0 30px);
				}
				#company_name{
				position:relative;
				top: rem-calc(15px);
				font-size: $varfontsize_hbig1;
				}
			}
			#company_about_container{
				margin: rem-calc(40px 0 0 0);
				dl{
					margin: 0px;
					dd{
						clear: both;
						margin: 0px;
					}
					dt{
						
					}
				}
				#about_title{
					font-size: $varfontsize_h1;
					font-weight: bolder;
				}
				#about_content{
					font-size: $varfontsize_h2;
					font-weight: normal;

				}
			}

		}

		#internship_top_board{
			width: 50%;
			margin-top: rem-calc(20px);
			float: left;
				@media #{$medium-only}{
					width: 100%;
					clear: both;
				}
				@media #{$small-only}{
					width: 100%;
					clear: both;
				}
			#position_container{
				clear: both;
				@media #{$medium-only}{
					height: rem-calc(42px);
				}
				@media #{$small-only}{
					height: rem-calc(36px);
				}

				dl{
					display: inline;
					vertical-align: baseline;
					margin: 0px;
					dd{
						display: none;
						margin: 0px;
					}
					dt{
						display:inline;
						vertical-align:baseline;
					}
				}

				#intern_position{
				line-height: 20px;
				margin: 0px;
				clear: both;
				font-size: $varfontsize_hbig3;
				@media #{$medium-only}{
					font-size: $varfontsize_hbig2;
				}
				@media #{$small-only}{
					font-size: $varfontsize_hbig1;
				}
				}
			}


			#date_location_container{
				dl{
					display: inline;
					vertical-align: baseline;
					margin: 0px;
					dd{
						display: none;
						margin: 0px;
					}
					dt{
						display:inline;
						vertical-align:baseline;
						
						i{
							padding: rem-calc(0 4% 0 0);
							font-size: $fontawes_h2;
						}
					}
				}
			
				#duration_time{font-size: $varfontsize_h2; margin:rem-calc(0px 0px 0px 20px);}
				// #start_date{font-size: $varfontsize_h2;}
				// #end_date{font-size: $varfontsize_h2;}
				#intern_location{
				clear: both;
				font-size: $varfontsize_h2;
				}
			}
		}

		#apply_button{
			margin-top: rem-calc(35px);
			float: right;
				@media #{$medium-only}{
					margin: rem-calc(5px 0px 0px 0px);
					float: left;
				}
				@media #{$small-only}{
					margin: rem-calc(5px 0px 0px 0px);
					float: left;
				}
			.button{padding: rem-calc(10px 10px);}
			a{
				font-size: $varfontsize_h2;
				@media #{$medium-only}{
					font-size: $varfontsize_h4;
				}
				@media #{$small-only}{
					font-size: $varfontsize_h3;
				}
			}
		}

		#internship_details{
			clear: both;
			dl{
				display: inline;
				vertical-align: baseline;
				margin: 0px;
				dd{
					margin: 0px;
					font-weight: normal;
					font-size: $varfontsize_h0;
				}
				dt{
					display:inline;
					vertical-align:baseline;
					font-weight: normal;
					font-size: $varfontsize_h2;
					
					i{
						padding: rem-calc(0 4% 0 0);
						font-size: $fontawes_h2;
					}
				}
			}
			#internship_description{margin-top: rem-calc(20px);}
			#internship_requirements{margin-top: rem-calc(20px);}
			}
		}

/* ==========================================================================
  	company_posting.html.erb
   ========================================================================== */
#company_posting_container{
		margin: rem-calc(20px 250px 0 250px);
		@media #{$medium-only}{margin: rem-calc(20px 100px 0 100px);}
		@media #{$small-only}{margin: rem-calc(20px 20px 0 20px);}

	#new_job_button{
		text-align: center;
		@media #{$medium-only}{
			margin: rem-calc(5px 0px 0px 0px);
		}
		@media #{$small-only}{
			margin: rem-calc(5px 0px 30px 0px);
		}
		.button{
			
			padding: rem-calc(10px 10px);}
		a{	
			margin:0px;
			font-size: $varfontsize_h2;
			@media #{$medium-only}{
				font-size: $varfontsize_h4;
			}
			@media #{$small-only}{
				font-size: $varfontsize_h3;
			}
		}
	}

	#edit_button{
				margin-top: rem-calc(20px);
					@media #{$medium-only}{
						margin: rem-calc(5px 0px 0px 0px);
					}
					@media #{$small-only}{
						margin: rem-calc(5px 0px 0px 0px);
					}
				.button{
					padding: rem-calc(10px 10px);}
				a{	
					margin: 0px;
					font-size: $varfontsize_h2;
					@media #{$medium-only}{
						font-size: $varfontsize_h4;
					}
					@media #{$small-only}{
						font-size: $varfontsize_h3;
					}
				}
			}

	#manage_postings{
		border-radius: 3px;
		border: 1px solid $gainsboro;
		text-align: center;
		background-color: $white;
		margin-bottom: rem-calc(20px);
		padding: rem-calc(20px 20px 20px 20px);
		
		dl{
			display: inline;
			vertical-align: baseline;
			margin: 0px;
			dd{
				display: none;
				margin: 0px;
			}
			dt{
				margin: 0px;
				
				i{
					padding: rem-calc(0 4% 0 0);
					font-size: $fontawes_h2;
				}
			}
		}
		#int_position_container{
			#intern_position_content{
				font-weight: normal;
				font-size: $varfontsize_hmini3;
			}
		}
		#int_duration_container{
			#intern_duration_content{
				font-weight: normal;
				font-size: $varfontsize_h2;
			}
		}
	}
}
