.searchone{
	padding-right: 5px;
}
.searchTwo{                                                                                                                                                                                     
	padding-right: 5px;
}

.row{
	input{
		
		border-color: $oil;
	}
}