<div class="site-content">
	<div class="row" style="max-width: 30em;">
  		<div class="all">
			<!--title: New Internship-->
	  		<div class="welcome">
	          <div class="row">
	            <div class="large-12 small-12 columns">
	              <h2>Post New Internship</h2><hr>
	            </div>
	          </div>
	        </div>

			<!-- renders form -->
			<%= render 'form' %>
		
			<!--cancels post-->
    			<div class="large-12 medium-12 small-12 columns">
    				<%= link_to 'Cancel', '/', class:"button radius large-12 small-12 medium-12" %>
    			</div>

  			
		</div>
	</div>
</digv>