<!--  <%# link_to 'Edit', edit_stu_work_experience_path(@stu_work_experience) %>
 <p>
   <b>Company:</b>
   <%# @stu_work_experience.company %>
 </p>

 <p>
   <b>Position:</b>
   <%# @stu_work_experience.position %>
 </p>

 <p>
   <b>Start date:</b>
   <%# @stu_work_experience.start_date %>
 </p>

 <p>
   <b>End date:</b>
   <%# @stu_work_experience.end_date %>
 </p>

 <p>
   <b>Description:</b>
   <%# @stu_work_experience.description %>
 </p>


 <%# link_to 'Back', :back %>
 -->