<section class="foot">
	<!--About & Contact with enclosed Image-->
	<div id="about_contact_outter">
		<div class="row">
			<div class="large-12 medium-12 small-12 columns">
				<div id="about_contact_inner">
					<!-- <img class ="image">
					<%= link_to image_tag('https://s3-us-west-2.amazonaws.com/stutern/stutern_logo.png'), '/student_profiles' %>  -->
					</img>
					<a id='about'><%= link_to "About", pages_about_path %></a>
				</div>
			</div>
		</div>
	</div>

	<!-- Copyright -->
	<div class="row">
		<div class="large-12 medium-12 small-12 columns">
			<p id="copyright">© 2014 . All Rights Reserved. Privacy Policy | Terms of Use</p>
		</div>
	</div>
</section>